table, th, td{
    border-color: rgb(113, 14, 88);
    color:rgb(132, 190, 46);
    background-color: rgb(21, 99, 99);
    
}
img {
  height: 150px;
  width: 150px;
}
.page{
    font-size: 48px;
    color:palevioletred
}
h1{
    color: palegreen;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .body1{
    background-color: salmon;
  }
  .body2{
    background-color: orangered;
  }
  .body3{
    background-color: blueviolet;
  }
  .body4{
    background-color: darkolivegreen;
  }
  .body5{
    background-color: olive;
  }
  .body6{
    background-color: darkmagenta;
  }
